.small-12.panel.mainContent

  = content_nav_for @assignment, "Edit Grade"

  %h3.pagetitle= @title
  
  .small-12.medium-4.columns.right.columns-no-padding
    .right= render "assignments/description"
  
  = render 'form'
