.small-12.panel.mainContent
  = content_nav_for @assignment, "Edit Grade"

  %h3.pagetitle= @title

  .small-12.right.medium-4.columns

  - if @rubric && @rubric.designed?
    = render "rubric_edit"
  - else
    = render "standard_edit"
