.small-12.panel.mainContent

  = content_nav_for @assignment, "Edit Grade"

  %h3.pagetitle= @title
  
  .small-12.medium-4.columns.right
    .right= render "assignments/description"
  
  .small-12.columns    
    = render 'form'
