.small-12.panel.mainContent

  = content_nav_for @assignment_type, "Edit #{term_for :assignment_type}"

  %h3.pagetitle= @title

  / Display Assignment Type form
  .small-12.columns
    = render 'form'