Welcome to GradeCraft!

This course will likely be different than any other course you have taken. It will be run in a game-like manner supported by GradeCraft. You get to tailor the course to your interests and skillsets by choosing what assignments you will work on. Get ready to take control and make the course what you want!

GradeCraft is your guide to staying up-to-date on your progress in the course, and the key to your success. All of your course assignments are displayed within GradeCraft. There may be more assignments than you need to complete in order to get the grade you want. Focus on the areas of the course that most interest you and become an expert. Build out your skillsets through doing different types of work. Try an assignment you might not usually do. Use the grade predictor to plan out how you’ll do on each assignment and see your estimated final grade. Gradecraft helps you take control of your course experience!

To get started check out our YouTube channel for short how-to videos of the site. You can also view the written help documentation on FreshDesk. If you ever have any issues please submit a support ticket and we will respond as quickly as we can. 

We wish you a successful semester!

The GradeCraft Team 