.small-12.medium-7.right.columns.columns-no-padding
  .button-bar.right
    %ul.button-group.context_menu
      %li{class: ("active" if current_page?(analytics_students_path)) }
        %a{:href => analytics_students_path }
          %i.fi-torsos-all
          Student Analytics
      %li{class: ("active" if current_page?(analytics_staff_path)) }
        %a{:href => analytics_staff_path }
          %i.fi-torso-business
          Staff Analytics
      %li
        %a{:href => analytics_export_path(format: 'zip')}
          %i.fi-download
          Download Analytics
