%table.responsive.nofeatures_default_last_name_dynatable
  %caption.sr-only All Awarded Achievements
  %thead
    %tr
      %th{:scope => "col"} First Name
      %th{:scope => "col"} Last Name
      %th{:scope => "col"} #{current_course.badge_term.pluralize}
      - if current_course.valuable_badges?
        %th{:scope => "col"} Total Badge Score
  %tbody
    - current_course.students.each do |student|
      %tr
        %td= link_to student.first_name, student_path(student)
        %td= link_to student.last_name, student_path(student)
        %td
          - student.earned_badges_for_course(current_course).each do |eb|
            %img.has-tip{:src => eb.try(:icon), :alt => eb.try(:name), :width => "20", :title => eb.name, :data => {'tooltip' => true}}
        - if current_course.valuable_badges?
          %td= points student.earned_badge_score_for_course(current_course)
