%h4.bold Supporting Files
.s3_uploader
  = s3_uploader_form key: upload_url('badge_files', @badge), acl: "private", max_file_size: 40.megabytes do
    .small-12.columns
      = file_field_tag :file, :multiple => true
    .small-12.columns
      .upload.s3_progress
        Progress:
        .progress
          .bar
      .clearfix
    - if @badge.badge_files.count > 0 
      %hr
      %h5.bold Uploaded files
      %ul#uploaded_files
        - @badge.badge_files.each do |bf|
          %li
            = link_to bf.try(:filename), bf.try(:url)
            = link_to "[Remove]", remove_uploads_path({ :model => "BadgeFile", :badge_id => @badge.id, :upload_id => bf.id } )