.small-12.panel.mainContent

  = content_nav_for @badge, "Edit #{term_for :badge}"

  .small-12
    %h3.pagetitle= @title
  
  .small-12.columns
    .button-bar
      %ul.button-group.context_menu
        %li
          %a{:href => badge_path(@badge) }
            %i.fi-list-thumbnails
            See
        %li
          %a{:href => new_badge_earned_badge_path(:badge_id => @badge) }
            %i.fi-results
            Award
        %li
          %a{:href => mass_award_badge_path(@badge) }
            %i.fi-results-demographics
            Quick Award
    %br

  .small-12.columns

    = render 'form'