.small-12.panel.mainContent

  = content_nav_for @badge, "Edit #{term_for :badge}"

  .small-12.medium-9
    %h3.pagetitle= @title
  
  .small-12.medium-3.right.columns
    .button-bar.right
      %ul.button-group.context_menu

  .small-12.columns

    = render 'form'