.row
  .small-3.columns(style="background: #eee; border: 1px solid #ccc; padding: 24px")
    %h4 New Metric
    %input(type="text" ng-model="MetricName" placeholder="Name")
    %input(type="text" ng-model="MetricPoints" placeholder="Points")
    %input(type="text" ng-model="MetricDescription" placeholder="Description")
