Dear <%= @user.name %>,

You can now check your grade for <%= @assignment.name %>.

Don't forget to update your plan for the semester by checking your <a href="https://www.gradecraft.com/predictor">grade predictor </a>.

Play on!

GradeCraft
