Dear #{ @user.first_name },

You can now check your #{ @assignment.name } grade.

Don't forget to update your plan for the semester by checking your grade predictor here: https://www.gradecraft.com/predictor

Play on!

GradeCraft
