Hello {@student.first_name},

Check out some of the badges that you and your team have earned recently in {@course.name}.

Your {term_for :team}'s recently earned {term_for :badges}:

You and {@earned_badges.count} other people received the {@earned_badge.name} {term_for :badge} for {@badge.description}

Someone in your {term_for :team} received the {@badge.name} {term_for :badge} for {@badge.description}.
                               
Nicely done. You and {@earned_badges.count} others earned the {@badge.name} {term_for :badge} for  {@badge.description}.
                                
What {term_for :badges} will you earn next?
https://www.gradecraft.com/badges
                                
Earn these {term_for :badges} next: 

All-time Stats:
{@team.badge_count} {term_for :badges} earned as a {term_for :team}
{@student.badge_count} {term_for :badges} earned individually

--

Have feedback about this email? Let us know!

--

&copy; GradeCraft 2014