%li{class: ("active" if current_page?(groups_path)) }
  = link_to_unless_current "See all #{term_for :groups}", groups_path
%li{class: ("active" if current_page?(new_group_path)) }
  = link_to_unless_current "New #{term_for :group}", new_group_path