.columns.small-12
  %h2 GradeCraft Features Fall 2014
  %hr
  %h3 Assignments
  %ul
    %li Individual and Group Assignments
    %li Badges (with points or without)
    %li Team Challenges
    %li Submissions with file uploads

  %h3 Groupings
  %ul
    %li Teams/Sections (can earn points through Team Challenges)
    %li Student-created groups for single or multiple assignments

  %h3 Grading
  %ul
    %li "Quick Win" Grading (award many students points or badges at once)
    %li Rubric Grading (rubrics to support standardized grading, badge awarding)
    %li Student-determined assignment weights
    %li Self-awarded points (attendance)
    %li Choice between awarding grades and/or levels to work

  %h3 Student Dashboard
  %ul
    %li Course info (meeting times, office hours, professor & GSI info)
    %li Interactive timeline
    %li Current points & total points bar charts
    %li Assignments with submissions, grades, and instructor feedback
    %li Assignment calendar
    %li Badges
    %li Grade predictor

  %h3 Analytics
  %ul
    %li Achievement Analytics & Displays
    %li Basic System Engagement displays

  %h3 Technical Details
  %ul
    %li LTI consumers can launch GradeCraft
    %li GradeCraft can launch and receive LTI tools