%h4.uppercase Supporting Files
.s3_uploader
  = s3_uploader_form key: upload_url('challenge_files', @challenge), acl: "private", max_file_size: 40.megabytes do
    .small-12.medium-6.columns
      = file_field_tag :file, :multiple => true
    .small-12.medium-6.columns
      .upload.s3_progress
        Progress:
        .progress
          .bar
      .clearfix
    %ul#uploaded_files
      - if @challenge.challenge_files.present?
        %hr
        %h5.bold Uploaded files
        - @challenge.challenge_files.each do |cf|
          %li
            = link_to cf.filename, cf.url, :target => "_blank"
            = link_to "(Remove)", remove_uploads_path({ :model => "ChallengeFile", :challenge_id => @challenge.id, :upload_id => cf.id } )