= csrf_meta_tag
.row
  .small-8.columns(style="padding:0")
    %input(type="text" ng-model="tier.name" placeholder="Tier Name" required ng-blur="tier.modify()" ng-change="tier.change()")
  .small-4.columns(style="padding:0")
    %input(type="number" ng-model="tier.points" placeholder="Points" min=0 ng-max="metric.max_points" ng-blur="tier.modify()" ng-change="tier.change()" required)
.row
  %input(type="text" ng-model="TierDescription" placeholder="Description" value="{{tier.description}}" ng-blur="tier.modify()" ng-change="tier.change()")
%button.delete(type="button" ng-click="metric.removeTier($index)") Delete
{{$index}}
