.small-12.panel.mainContent
  .small-12.columns
    %br
    %br
    %h3 Create Rubric for "#{@assignment.name}"
    #rubric(ng-app="gradecraft" ng-controller="RubricCtrl")
      {{test}}
      %br
      %br

      %form(ui-sortable ng-submit="createRubric")
        .row(ng-repeat="metric in metrics")
          .small-3.columns(style="background: #eee; border: 1px solid #ccc; padding: 24px")
            .row
              .small-8.columns(style="padding:0")
                %input(type="text" ng-model="MetricName" placeholder="Name" value="{{metric.name}}")
              .small-4.columns(style="padding:0")
                %input(type="text" ng-model="MetricMaxPoints" placeholder="Max Points" value="{{metric.max_points}}")
            .row
              %input(type="text" ng-model="MetricDescription" placeholder="Description" value="{{metric.description}}")
            %input(type="hidden" value="{{$index}}")
            %button(type="button" ng-click="metric.addTier()")
          .small-3.columns(ng-repeat="tier in metric.tiers" style="background: #eee; border: 1px solid #ccc; padding: 24px")
            .row
              .small-8.columns(style="padding:0")
                %input(type="text" ng-model="TierName" placeholder="Tier" value="{{tier.name}}")
              .small-4.columns(style="padding:0")
                %input(type="text" ng-model="TierMaxPoints" placeholder="Point Value" value="{{tier.max_points}}")
            .row
              %input(type="text" ng-model="TierDescription" placeholder="Description" value="{{tier.description}}")


      %button(type="button" ng-click="newMetric()") + Add Metric
      
  .clearfix
