.small-12.panel.mainContent
  / Rubrics Navigation
  

  .hide-for-medium-up{:style => "padding: 10px"}
    = mobile_nav_for @rubric 

  %p
    %b Name:
    = @rubric.name
  %p
    %b Description:
    = @rubric.description
