.button
  margin-bottom: 0
  text-transform: capitalize
  border: none
  color: #FFF
  padding: .6rem
  font-size: .8rem
  cursor: pointer

.button-group li, .button-group li a, .button-group li a:hover 
  color: #FFF

.button-bar.aindex
  margin-top: .5rem
  padding-right: .5rem

  li:hover
    background-color: darken($primary-color-3, 30%)

  .button
    background-color: darken($primary-color-3, 20%)
    padding: .5rem

.button:hover, .button:focus
  background-color: darken($primary-color-3, 30%)

a.btn.btn-primary
  background-color: $primary-color-2

.button-bar ul
  white-space: nowrap 
  display: inline 

th.center button.button
  margin: 0

.sideBar .button, .panel a.button.radius
  font-size: .7rem
  padding: .4rem
  background-color: darken($secondary-color-2, 15%)

.sideBar .button:hover 
  background-color: darken($secondary-color-2, 30%)

ul.button-group.context_menu 
  text-transform: capitalize
  padding-right: .5rem

  li
    margin: 0
    background-color: $primary-color-3

  li a
    display: block
    padding: .5rem

  li:first-child, li:first-child a
    border-bottom-left-radius: $global-radius
    border-top-left-radius: $global-radius

  li:last-child, li:last-child a
    border-top-right-radius: $global-radius
    border-bottom-right-radius: $global-radius

  li:hover a, li:hover, li.active, li.active a
    background-color: darken($primary-color-3, 30%)

/* Responsive outer container */ 
@media (max-width: 1270px) 
  .button 
    float: left 
    clear: both
    display: block
    white-space: wrap

  .button-bar.right li
    font-size: 80%

  .button-bar.right li a:hover
    border-radius: $global-radius

@media (max-width: 550px)
  .button-bar.right li
    border-radius: $global-radius
    font-size: 80%
    margin-right: 0.5rem !important
    margin-bottom: 0.5rem !important

