.button {
  margin-bottom: 0;
  text-transform: capitalize;
  background-color: #ddd;
  border: none;
  color: #000;
  padding: .3rem;
  font-size: 80%;
}

.button-bar.aindex {
  margin-top: -2.8rem;

  li:hover {
    background-color: $primary-color-2;
  }

  .button {
    background-color: $primary-color-4;
    padding: .5rem;
    border: none;

    a, a:hover {
    color: #FFF !important;
    }
  }
}

h5.section-title .button {
  font-size: .7rem
}

.button-bar .button-group .button {
  color: #FFF;
}

table {
  td .button {
    padding: .4rem;
    font-size: 80%;
    background-color: #999;
    color: #FFF;
  }
}

.button:hover, .button:focus {
  background-color: $primary-color-5;
  color: #FFF !important;
}

/* Used on cancel buttons to reduce distraction */
.button.transparent {
  background-color: #CCC !important;
}

a.btn.btn-primary {
  background-color: $primary-color-2;
  color: #FFF;
}
.button.no-margin {
  margin: 0;
}

ul.button-group.context_menu {
  display: inline-block;
  text-transform: capitalize;
  font-size: 80%;

  li {
    margin: 0;
    border: 1px solid #666;
    background-color: $secondary-color-4;
    color: #FFF;
  }

  li a {
    color: #FFF;
    display: block;
    padding: .5rem;
  }

  li a:hover {
    color: #FFF !important;
  }

  li:first-child, li:first-child a {
    border-bottom-left-radius: $global-radius;
    border-top-left-radius: $global-radius;
  }

  li:last-child, li:last-child a {
    border-top-right-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
  }

  li:hover a, li:hover, li.active, li.active a {
    background-color: $primary-color-2;
    color: #FFF;
    cursor: pointer;
  }

}

.small-3.right .button-bar {
  margin-right: .75rem;
}