.select2-container {
  display: block;
}

label {
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

label, input {
  padding-bottom: 0;
}

.radio label,
.checkbox label {
  cursor: pointer;
  display: inline;
}

label.checkbox input, label.checkbox, label.radio, label.radio input {
  margin-right: 10px;
  clear: both;
}

.score-level .remove-level.button, .remove-element.button, .assignment-score-levels .remove-assignment-score-level.button {
  margin-top: 1.8rem;
  color: #FFF;
}

fieldset {
  border: none;
  padding: 0;
}

/** Styling to make labels on checkboxes and radio forms align properly**/
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  padding-left: 0px;
  margin-bottom: 15px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: 0px;
}

input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], select, .checkbox-inline input[type="checkbox"], input[type="text"] {
  margin-bottom: 0.5rem;
}


select {
  background-color: #F0F8FF !important;
  border-radius: $global-radius;
}

select:hover {
  background-color: $primary-color-3;
}

ul.dropdown-menu {
  background-color: #FFF;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: $global-radius;

  li {
    padding: 0 !important;
    margin: 0 !important;
    line-height: .1rem;  
    border-radius: $global-radius;
    width: 100% !important;

  }

  li a, li.active a {
    background-color: #FFF !important;
    color: #333 !important;
    line-height: 1.8rem !important;
    border-radius: $global-radius;
    width: 100% !important;
  }

  li a:hover {
    background-color: $primary-color-2 !important;
    border-radius: $global-radius;
    color: #fff !important;
  }
}

.form_label {
  font-size: 80%;
  line-height: 130%;
  color: #666;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
}

.checkbox .form_label {
  margin-left: 1.5rem;
}

.textarea .form_label {
  background-color: #eee;
  font-style: italic;
  color: #000;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom-right-radius: $global-radius;
  border-bottom-left-radius: $global-radius;
}

.img.form_label {
  background-color: #333;
  padding: .5rem;
  border-bottom-right-radius: $global-radius;
  border-bottom-left-radius: $global-radius;
}

.inline-list > li > * {
  display: block;
  width: 100%;
  }