
/* Background image for site, this is declared because otherwise it overrides the text editor's bkg */
body.logged-in, body.logged-out {
  background: image-url("cloud_bg.gif");
  padding-top: 3.6rem;
}
/*
#leaderboard .name, #leaderboard .score {
  padding: 0.5rem;
  background: image-url("cloud_bg.gif");
}*/

/* Primary page content */ 
.mainContent {
  background-color: #FFF;
  position: relative;
  height: 100% !important;
  margin-right: 0;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-radius: $global-radius;
  border: none;
  overflow: hidden;
}

.panel.callout {
  background-color: lighten(#666, 50%);
  border-color: #CCC;
}

/* Allow other things to appear above the timeline */
.vco-storyjs {
  z-index: 0;
}

.panel {
  border-radius: $global-radius;
  overflow: hidden;
}

.hidden {
  display: none;
}

form .tabs-content .content {
  min-height: 400px;
  border: 1px solid #eee;
  padding: 1rem;
} 

.assignment_weights .panel.callout.columns {
  margin-right: 1rem; 
  width: 23%;
}

@media (min-width: 400px) {
  
  .mainContent {
    min-height: 750px;
  }
}

/* Responsive outer container */ 
@media (min-width: 1000px)  {

  .outerContainer {
    padding-right: 0;
  }
}
