
/* Background image for site, this is declared because otherwise it overrides the text editor's bkg */
body.logged-in, body.logged-out {
  background: image-url("cloud_bg.gif");
  padding-top: 3.6rem;
}


/* Primary page content */ 
.mainContent {
  background-color: #FFF;
  position: relative;
  height: 100% !important;/*
  margin-top: 1.8rem;*/
  margin-right: 0;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-radius: $global-radius;
  border: none;
  overflow: hidden;
}

.panel p {
  /*margin-bottom: 0;*/
}

.panel.callout {
  background-color: lighten(#666, 50%);
  border-color: #CCC;
}


/* Allow other things to appear above the timeline */
.vco-storyjs {
  z-index: 0;
}

.content#boxplot, .content#submitted, .content#levels {
  padding: 1rem;
}

.panel {
  border-radius: $global-radius;/*
  overflow: hidden;*/
}

.hidden {
  display: none;
}

form .tabs-content .content {
  min-height: 400px;
  border: 1px solid #eee;
  padding: 1rem;
} 

@media (min-width: 400px) {
  
  .mainContent {
    min-height: 750px;
  }
}

/* Responsive outer container */ 
@media (min-width: 1000px)  {

  
  .staff_subnav {
    border-radius: $global-radius;
  }

  .outerContainer {
    padding-right: 0;
  }
}

@media (max-width: 1000px)  {
  .staff_subnav {
    border-radius: $global-radius;
  }
}