/** Staff Sidebar **/
.staff_subnav {
  background-color: #FFF;
  padding: 1rem 0rem 1rem 0;
  display: table-cell; 
  border-radius: $global-radius;
  
  /* Subheadings */
  h5 {
    margin-left: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* Spacing out the list items*/ 
  li {
    text-transform: capitalize;
    margin: .25rem 0 .25rem 1rem;
  }

  /* Spacing the list divider */
  hr {
    margin: 1rem auto;
    width: 85%;
  }  

}

.left-off-canvas-menu h5 {
  -webkit-backface-visibility: hidden;
  text-align: center;
}

.has-form input {
  border-top-left-radius: $global-radius;
  border-bottom-left-radius: $global-radius;
}

.has-form .alert.button {
  border-top-right-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
  padding: .67rem .5rem;
}


.has-form ul.dropdown-menu {
  top: 2rem;
}

/* Styling the mobile active link dropdown */ 
.has-form ul.dropdown-menu li {
  color: #333;
  padding: 0 0.5rem;
  min-width: 10rem;
}

.has-form ul.dropdown-menu li.active a, .has-form ul.dropdown-menu li.active {
  background-color: $primary-color-2 !important;
  //color: #FFF !important;
}

/* Forcing buttons and icons to display inline */ 
.side-nav li a:not(.button) {
  display: inline !important;
}

ul.off-canvas-list li a {
  color: black;
}

/* Styles the hover state on the box plot on the student dashboard */
.jqstooltip {
  box-sizing: content-box;
  height: auto !important;
  width: auto !important;
}

/* Makes the box plot responsive */ 
#student_grade_distro canvas, .grades_per_assign canvas, .circliful {
  width: 100% !important;
}

.sideBar .todo li {
  list-style-type: none;

  .button { border-radius: $global-radius; }
}