.table-wrapper
  clear: both

th
  text-transform: capitalize
  padding: .5rem

/* Set the tables to be full width of the page*/
table
  width: 100%
  border-radius: $global-radius
  border-spacing: 0 !important
  clear: both

  thead
    tr:first-child th:first-child 
      border-top-left-radius: $global-radius

    tr:first-child th:last-child 
      border-top-right-radius: $global-radius

    tr
      background-color: $light-grey
      color: #FFF !important

  /* Table Header styles */

  th
    font-weight: normal
    a
      color: #000

table.responsive.no_radius
  border-top: none

  thead
    tr:first-child th:first-child 
      border-top-left-radius: 0
    tr:first-child th:last-child 
      border-top-right-radius: 0

table#grade-rubric-table
  border-collapse: collapse

  thead
    background-color: $primary-color-3 !important
    
    td
      color: #FFF !important

  .metric-name
    font-weight: bold
    font-size: 120%

  tbody
    tr
      background-color: #FFF
      vertical-align: top

  td
    border: 1px solid #999

/* Styling pattern tables for assignment outcome overview */ 
td.complete, tr.achieved
  background-color: $secondary-color

i.complete
  color: red

td.absent
  background-color: black

i.absent
  color: black

td.partial
  background-color: $primary-color-3

i.partial
  color: $secondary-color

i.missing_grade
  color: #CCC

/** Leaderboard Styles **/
.small-12.columns.team
  border: 3px solid #FFF

#leaderboard .rank
  font-weight: bold
  text-align: center
  background-color: #111
  font-weight: bold
  color: #FFF !important
  padding: .5rem

#leaderboard .name, #leaderboard .score
  padding: 0.5rem
  background-color: $primary-color-4

#leaderboard .score
  font-weight: bold

@media (max-width: 867px)
  th.draggable, td.draggable
    display: none
