
/** Table Styles **/
table tbody {
  vertical-align: top;
}

#gradebook {
  overflow: auto !important; 
}

/* Set the tables to be full width of the page*/
table.responsive {
  width: 100%;
  border-spacing: 0 !important;
  margin-bottom: 1rem;
  clear: both;

  a:hover {
    color: $secondary-color;
  }

  .button {
    margin-bottom: 0;
   }

  td {
    line-height: 1.5rem;
  }

  /* Table Header styles */
  th {
    text-transform: capitalize;
    font-weight: normal;
    background-color: #EEE;
    padding: .5rem;

    a {
      color: $primary-color;
    }
  }

  td.text-buttons a {
    margin: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid $primary-color-3;
  }
  .button {
    margin: 0;
  }
}

.button.tiny.aindex {
  width: auto;
  margin-left: 0;
  position: relative;
  top: -2.8rem;
  margin-bottom: -4.8rem;
}


  @media (min-width: 1151px) {

  table ul.table-bar  {
    list-style-type: none;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
    
    li {
    display: inline-block;
    }
  }


  .button-column {
    width: 300px;
  }

  }

@media (max-width: 1150px)  {
  
  table .button-group li a.button.tiny  {
  padding: .25rem;
  border-radius: 0 !important;
  border: none;
  width: 5rem;
  }

  table .button-group.round li {
    display: block !important;
  }


  .round .button.tiny {
    padding: .4rem;
  }



  .button-column {
    width: 6rem;
  }
}

@media (max-width: 640px) {
  table .button-group li a.button.tiny  {
  padding: .75rem;
  width: 5rem;
  border: 1px solid #eee;
  }
}

/* Styling pattern tables for assignment outcome overview */ 
td.complete, tr.achieved {
  background-color: #d7fae0;
}

i.complete {
  color: $success-color;
}

td.absent {
  background-color: #f9adad;
}

i.absent {
  color: $alert-color;
}

td.partial, td.need_to_be_released {
  background-color: $secondary-color-5;
}

td.in_progress {
  background-color: $alert-color-5;
}

i.partial {
  color: $secondary-color;
}

i.missing_grade {
  color: #CCC;
}


table#leaderboard {
  background: rgba(10,202,176,1);
  background: -moz-linear-gradient(top, rgba(10,202,176,1) 0%, rgba(0,189,57,0.59) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,202,176,1)), color-stop(100%, rgba(0,189,57,0.59)));
  background: -webkit-linear-gradient(top, rgba(10,202,176,1) 0%, rgba(0,189,57,0.59) 100%);
  background: -o-linear-gradient(top, rgba(10,202,176,1) 0%, rgba(0,189,57,0.59) 100%);
  background: -ms-linear-gradient(top, rgba(10,202,176,1) 0%, rgba(0,189,57,0.59) 100%);
  background: linear-gradient(to bottom, rgba(10,202,176,1) 0%, rgba(0,189,57,0.59) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0acab0', endColorstr='#00bd39', GradientType=0 );

  td {
    color: #FFF !important;
  }
}
/*
table#leaderboard {
  outline: 3px solid #FFF !important;
}*/

table#leaderboard tr.complete {
  outline: 8px solid $alert-color !important;
}

td.rank {
  width: 35px;
  font-weight: bold;
  text-align: center;
  background-color: #111;
    font-weight: bold;
}

td.points {
  font-weight: bold;
    font-weight: bold;
}

table#leaderboard tr#place-1 td.rank {
  background-color: $alert-color;
}

table#leaderboard tr#place-2 td.rank {
  background-color: #adadad;
}

table#leaderboard tr#place-3 td.rank {
  background-color: #8c7853;
}