#gradebook
  overflow: auto !important

/* Set the tables to be full width of the page*/
table.responsive
  width: 100%
  border-radius: $global-radius
  border-spacing: 0 !important
  clear: both
  overflow-x: scroll !important

  thead
    tr:first-child th:first-child 
      border-top-left-radius: $global-radius

    tr:first-child th:last-child 
      border-top-right-radius: $global-radius

    tr
      background-color: $light-grey
      color: #FFF !important

  .button
    font-size: .7rem
    background-color: $secondary-color-2

  .button:hover, .button:focus
    background-color: darken($secondary-color-2, 15%)

  /* Table Header styles */
  th
    text-transform: capitalize
    font-weight: normal
    padding: .5rem

    a
      color: #000

  button.select-all.button.tiny
    margin: 0 !important
    border-top-left-radius: $global-radius
    border-bottom-left-radius: $global-radius
    background-color: $primary-color-2
    padding: .3rem
  
  button.select-all.button.tiny:hover, button.select-none.button.tiny:hover,button.select-all.button.tiny:focus, button.select-none.button.tiny:focus
    background-color: $secondary-color-2

  button.select-none.button.tiny
    margin: 0 !important
    left: -4px
    border-top-right-radius: $global-radius
    border-bottom-right-radius: $global-radius
    background-color: $primary-color-2
    padding: .3rem

table.responsive.no_radius 
  border-top: none

  thead
    tr:first-child th:first-child 
      border-top-left-radius: 0
    tr:first-child th:last-child 
      border-top-right-radius: 0

/* Styling pattern tables for assignment outcome overview */ 
td.complete, tr.achieved
  background-color: $secondary-color

i.complete
  color: red

td.absent
  background-color: black

i.absent
  color: black

td.partial
  background-color: $primary-color-3

i.partial
  color: $secondary-color

i.missing_grade
  color: #CCC

/** Leaderboard Styles **/
.small-12.columns.team
  border: 3px solid #FFF

#leaderboard .rank
  font-weight: bold
  text-align: center
  background-color: #111
  font-weight: bold
  color: #FFF !important
  padding: .5rem

#leaderboard .name, #leaderboard .score
  padding: 0.5rem
  background-color: $secondary-color-5

#leaderboard .score
  font-weight: bold

#leaderboard #place-1 .rank
  background-color: $alert-color

#leaderboard #place-2 .rank
  background-color: #adadad

#leaderboard #place-3 .rank
  background-color: #8c7853