h1, h2, h3, h4, h5
  text-transform: capitalize

body
  font-size: 0.9rem
  line-height: 1.6

.bold
  font-weight: bold

.not_bold
  font-weight: normal !important

.inverse
  color: #FFF

.underline
  text-decoration: underline

.center
  text-align: center

.pushdown
  padding-top: .3rem

.pushup
  padding-bottom: .2rem

.transparent
  opacity: .6

.italic
  font-style: italic

.small
  font-size: 80%

.smallcaps
  text-transform: uppercase
  font-size: 80%

.small_uppercase
  text-transform: uppercase
  font-size: 80%

.uppercase
  text-transform: uppercase

.columns-no-padding
  padding: 0

.large
  font-size: 1.5rem

hr
  border-color: #DDD
  border-width: 1px 0 0
  margin: 1.5rem auto

.label.alert.round
  margin-right: -1.2rem
  top: -0.6rem
  background-color: $secondary-color

/** Page Title **/
h3.pagetitle
  color: #FFF
  background-color: #444
  padding: .8rem
  clear: both
  float: left
  margin: 0 0 1rem
  display: inline-block
  border-top-right-radius: $global-radius
  border-bottom-right-radius: $global-radius
  box-shadow: 2px 2px 8px #ccc
  font-size: 1.7rem

/** Subtitle **/
h4.subtitle
  background-color: $primary-color-4
  color: #FFF
  font-weight:lighter
  padding: .6rem .9rem .6rem .6rem
  height: 2.4rem
  clear: both
  margin: 0 0 1rem
  display: block
  float: left
  border-left: 5px solid #333
  border-top-right-radius: $global-radius
  border-bottom-right-radius: $global-radius
  box-shadow: 2px 2px 8px #ccc
  font-size: 1.3rem

h5.section-title
  font-size: 1.1rem
  background-color: #666
  padding: .5rem 1rem 
  margin-bottom: 0
  overflow: hidden

  a 
    color: $alert-color

/* Used for screen reader only items */
.sr-only 
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0