/*
 *= require s3_direct_upload_progress_bars
 *= require jquery-ui.min
 *= require jquery.circliful
 *= require animate.min
 *= require bootstrap-datetimepicker
 *= require select2
 *= require foundation-icons
 *= require bootstrap
 *= require jquery.dynatable
 
/* Branding colors */

$primary-color: #002d62;
$primary-color-2: #234879;
$primary-color-3: #55a9bc;
$primary-color-4: #72cdf4;
$primary-color-5: #0079c0;
$secondary-color: #00BD39;
$secondary-color-2: #6ac777;
$secondary-color-3: #6ac777;
$secondary-color-4: #6ac777;
$secondary-color-5: #6ac777;
$alert-color: #f1592a;
$alert-color-2: #f7941e;
$alert-color-3: #fcb040;
$alert-color-4: #ffcf06;
$alert-color-5: #FFFD73;
$light-grey: #CCC;
$medium-grey: #666;
$dark-grey: #444444;
$light_green: #EFFFED;
$dark_green: #54BA3F;
$inactive_red: #CC0000;
$dark_red: #B40D0D;
$badass_blue: #269ECC;
$badge_blue: #009BD6;
$badge_green: #54B141;
$badge_green_border: #439A31;
$global-radius: 5px;

@mixin transition($property, $duration) {
  -webkit-transition: $property $duration;
  -ms-transition: $property $duration;
  -o-transition: $property $duration;
  transition: $property $duration;
}
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; //* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
/* Importing supporting files. If you create a new css file you'll need to add it here.  */
@import 'foundation_and_overrides';
@import 'sidebars';
@import 'forms';
@import 'tables';
@import 'student_dashboard';
@import 'timeline';
@import 'analytics';
@import 'breadcrumbs';
@import 'navigation';
@import 'videos';
@import 'bootsy';
@import 'layout';
@import 'buttons_and_icons';
@import 'typography';
@import 'homepage';
@import 'rubrics';
@import 'collapse';