/*
 *= require s3_direct_upload_progress_bars
 *= require jquery-ui.min
 *= require jquery.circliful
 *= require animate.min
 *= require jquery.dynatable
 *= require bootstrap-datetimepicker
 *= require select2
 *= require foundation-icons
 *= require bootstrap
 *= require collapse
 *= require rubrics
 *= require grades
 *= require assignments
 *= require responsive-tables
 *= require dynatable
 
/* Branding colors */

$primary-color: #002d62;
$primary-color-2: #234879;
$primary-color-3: #55a9bc;
$primary-color-4: #72cdf4;
$primary-color-5: #0079c0;
$secondary-color: #00BD39;
$secondary-color-2: #6ac777;
$secondary-color-3: #6ac777;
$secondary-color-4: #6ac777;
$secondary-color-5: #6ac777;
$alert-color: #f1592a;
$alert-color-2: #f7941e;
$alert-color-3: #fcb040;
$alert-color-4: #ffcf06;
$alert-color-5: #FFFD73;
$light-grey: #CCC;
$medium-grey: #666;
$dark-grey: #444444;


/* Importing supporting files. If you create a new css file you'll need to add it here.  */
@import 'foundation_and_overrides';
@import 'compass';
@import 'compass/css3';
@import 'sidebars';
@import 'forms';
@import 'tables';
@import 'student_dashboard';
@import 'timeline';
@import 'analytics';
@import 'breadcrumbs';
@import 'navigation';
@import 'videos';
@import 'bootsy';
@import 'layout';
@import 'buttons_and_icons';
@import 'typography';
@import 'homepage';