@mixin transition($property, $duration)
  -webkit-transition: $property $duration
  -moz-transition: $property $duration
  -ms-transition: $property $duration
  -o-transition: $property $duration
  transition: $property $duration

$light_green: #EFFFED 
$dark_green: #54BA3F
$inactive_red: #DC9A9A
$dark_red: #B40D0D

#rubric-grader
  %table
    margin-top: 20px

  .metric, .tier, .points-given
    background: #eee
    border: 1px solid #ccc
    padding: 12px 28px

    .points
      font-size: 21px

    .name
      font-size: 16px

    label
      display: block
      font-weight: normal
      font-size: 13px
      font-style: italic
      margin-bottom: 1px

      &.larger
        font-size: 15px

    &.saved
      border: 1px solid $dark_green
      background: #EDF5EC

  .metric
    background: #D3EBF5
    border: 1px solid #9FE2FF

    label.larger
      font-size: 20px

    &.heading
      background: #D3EBF5 + #111
      border: 1px solid (#9FE2FF + #111)

    input.ng-pristine.ng-invalid
      border: 1px solid #6CC7EC
      background: #F0FBFF

    .description
      font-size: 13px
      display: inline
      margin-top: 12px

  td.points-given
    background: white
    border: none

    label.larger
      background: none
      font-size: 20px

    span.given
      font-size: 32px
    span.total
      font-size: 14px
    span.points
      font-size: 28px

  .tier
    background: #FFD292
    border: 1px solid #FFC36B

    &.heading
      background: #FFD292 + #111
      border: 1px solid (#FFC36B + #111)

    .heading
      font-size: 17px
    .description
      font-size: 14px
      font-style: italic

    &.selected
      background: #D9FF8C
      border: 1px solid #BEF64E
      
  .submit-grade-container
    margin-top: 20px

    button
      font-size: 20px

.splash
  display: none

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

  &.splash
    display: block !important
    font-size: 26px
