#rubric
  .metric
    background: #eee
    border: 1px solid #ccc
    padding: 24px
    float: left
      
    button
      padding: 6px 12px
      font-size: 12px
      font-weight: bold

      &.create
        background: green
      &.delete
        background: red

  .tier
    background: #eee
    border: 1px solid #ccc
    padding: 24px
    float: left
    
    button
      padding: 4px 8px
      font-size: 12px
      font-weight: bold

      &.create
        background: green
      &.delete
        background: red

