$light_green: #EFFFED 
$dark_green: #54BA3F
#rubric
  .metric
    background: #eee
    border: 1px solid #ccc
    padding: 24px
    float: left

    input.ng-invalid
      border: 1px solid #E84846
      background: #FDD

    input.ng-pristine.ng-invalid
      border: 1px solid #6CC7EC
      background: #F0FBFF

    input.ng-valid
      border: 1px solid #54BA3F
      background: $light_green

    button
      padding: 6px 12px
      font-size: 12px
      font-weight: bold

      &.create
        background: $dark_green
      &.delete
        background: red

  .tier
    background: #eee
    border: 1px solid #ccc
    padding: 24px
    float: left
    
    button
      padding: 4px 8px
      font-size: 12px
      font-weight: bold

      &.create
        background: green
      &.delete
        background: red

    input.ng-invalid
      border: 1px solid #E84846
      background: #FDD

    input.ng-pristine.ng-invalid
      border: 1px solid #6CC7EC
      background: #F0FBFF

    input.ng-valid
      border: 1px solid $dark_green
      background: $light_green

