%table.responsive.dynatable
  %thead
    %tr
      %th Assignment
      %th Submissions
      %th.button-column
  %tbody
    - @assignments.each do |assignment|
      - if assignment.accepts_submissions?
        %tr
          %th= link_to assignment.name, assignment
          %th= assignment.submissions.count
          %th
            = link_to 'Quick Grade', mass_grade_assignment_path(assignment), :class => "button"