.small-12.panel.mainContent

  = content_nav_for "Grading Status"

  %h3.pagetitle Grading Status

  .clearfix

  = render 'ungraded_submissions_table', :course => current_course, :submissions => @ungraded_submissions

  .clearfix

  .small-12.columns
    %hr

  .clearfix

  = render 'unreleased_grades_table', :course => current_course

  .clearfix

  .small-12.columns
    %hr

  .clearfix

  = render 'in_progress_grades_table', :course => current_course

  .clearfix