.small-12.panel.mainContent

  = content_nav_for "Grading Status"

  %h3.pagetitle Grading Status

  = render 'ungraded_submissions_table', :course => current_course, :submissions => @ungraded_submissions

  %hr

  = render 'unreleased_grades_table', :course => current_course

  %hr

  = render 'in_progress_grades_table', :course => current_course

  .clearfix