.small-12.medium-8.large-9.columns.outerContainer
  / Display errors and notifications
  = render 'layouts/alerts'
  = render 'layouts/content'
.small-12.medium-4.large-3.columns.sideBar
  = render 'students/student_sidebar'

<script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript">
FreshWidget.init("", {"queryString": "&widgetType=popup&formTitle=GradeCraft+Support&submitThanks=Thank+you+for+your+feedback!+We'll+get+back+to+you+soon.", "widgetType": "popup", "buttonType": "text", "buttonText": "Support", "buttonColor": "white", "buttonBg": "#00bd39", "alignment": "4", "offset": "735px", "submitThanks": "Thank you for your feedback! We'll get back to you soon.", "formHeight": "500px", "url": "http://gradecraft.freshdesk.com"} );
</script>